
{% extends 'base.html' %}
{% load tag_filter %}
{% block title %}Вход пользователя{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-1">
        </div>
        <div class="col-12">
            <h2>Вход</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Войти</button>
            </form>
        </div>
        <div class="col-1">
        </div>
        {% include 'footer.html' %}
    </div>

{% endblock %}