
{% extends 'base.html' %}
{% load tag_filter %}
{% block title %}Магазин - {{ product.name }}{% endblock %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Магазин</h1>
        <p class="lead">Категория {{ product.category }}</p>
    </div>

    <div class="container">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="row text-center">
                <form>
                    <img src="{{ product.photo_product | media_filter }}" class="img-thumbnail" width="100">
                    <h1 class="my-0 font-weight-normal">{{ product.name }}</h1>
                    <h2>{{ product.description }}</h2>
                    <h3 class="card-title pricing-card-title">{{ product.price }}</h3>
                    <p class="mb-0">Количество просмотров: {{ product.number_views }}</p>
                    <a role="button" class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>
                    <a role="button" class="btn btn-secondory" href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                    <a role="button" class="btn btn-secondary" href="{% url 'catalog:product_list' %}">Назад</a>
                </form>
            </div>
        </div>
        <div class="col-4">
        </div>
        {% include 'footer.html' %}
    </div>

{% endblock %}