
{% extends 'base.html' %}
{% load tag_filter %}
{% if object %}
    {% block title %}Редактирование {{ product.name }}{% endblock %}
{% else %}
    {% block title %}Создание продукта{% endblock %}
{% endif %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Магазин</h1>
        {% if object %}
            <p class="lead">Категория {{ product.category }}</p>
            <p class="lead">Редактирование {{ product.name }}</p>
        {% else %}
            <p class="lead"></p>
            <p class="lead">Создание продукта</p>
        {% endif %}
    </div>

    <div class="container">
        <div class="col-1">
        </div>
        <div class="col-12">
            <div class="row text-center">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a role="button" class="btn btn-secondary" href="{% url 'catalog:product_list' %}">Назад</a>
                </form>
            </div>
        </div>
        <div class="col-1">
        </div>
        {% include 'footer.html' %}
    </div>

{% endblock %}